#header {
text-align: center;
background-image: url(http://images.pcgs.com/CoinFacts/06660175_1509379_2200.jpg);
height: 299px;

}

a {
	text-decoration: none;
}

#maincasing {
width: 1920px;
margin-left: auto;
margin-right: auto;
}


#content {
	padding: 5px;
}

#navbar {
	width: 1920px;
	text-align: center;
	margin-top: 10px;
	border:1px solid black;


}

#navbar ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#rightbox {
	width: 125px;
	text-align: top;
	margin-top: 1px;
	border:1px solid black;
	padding: 0;
}

#main {
	width: 1770px;
float:right;
	
}

#downloads {
	width: 1770px;
	float:right;
}

#contact {
	width: 1770px;
	float:right;
}

#forum {
	width: 1770px;
	float:right;
}

#help {
	width: 1770px;
	float:top;
}

body {
	font-family: New Times Roman, Arial;
}

h1, h2, h3, h4 {margin:0;
}

